# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.log
ChessProg/ChessProg/Debug/ChessProg.tlog/ChessProg.lastbuildstate
*.sdf
ChessProg/ChessProg.opensdf
*.sdf
*.tlog
ChessProg/ChessProg/Debug/ChessProg.tlog/CL.read.1.tlog
*.idb
ChessProg/ChessProg/Debug/vc120.pdb
*.pdb
ChessProg/ChessProg/Debug/vc120.pdb
~$Features_Status.xlsx
*.sdf
